:root {
  --color-white: #ffffff;
  --color-light: #f1f5f9;
  --color-black: #121212;
  --color-night: #001632;

  --color-red: #f44336;
  --color-blue: #1a73e8;
  --color-gray: #80868b;
  --color-grayish: #dadce0;

  --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.wrapper-auth {
  .login-form {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-container {
      form {
        margin: 0px auto;
        box-sizing: border-box;
        padding: 20px;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        color: var(--color-black);
        background: var(--color-light);
        b :where(.css-dev-only-do-not-override-mxhywb).ant-col-8 {
          display: block;
          flex: 0 0 20%;
          max-width: 33.33333333333333%;
        }
        :where(.css-dev-only-do-not-override-mxhywb).ant-form-item
          .ant-form-item-label {
          text-align: start;
        }
      }
    }
  }
}
.text {
  font-family: inherit;
  line-height: inherit;
  text-transform: unset;
  text-rendering: optimizeLegibility;

  &-large {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-black);
  }

  &-normal {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-black);
  }

  &-links {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-blue);

    &:hover {
      text-decoration: underline;
    }
  }
}
@media (min-width: 1040px) {
  .wrapper-auth {
    .login-form {
      .form-container {
        width: 1000px;
        padding: 0 20px;
        margin: 0 auto;
      }
    }
  }
}
